<div class="container">
  <div class="row">
    <div class="col-12 my-5">
      <form [formGroup]="form" (ngSubmit)="saveMessage()">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Nueva publicación</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="custom-input">
                  <mat-label>Titulo</mat-label>
                  <input type="text" matInput formControlName="title">
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="custom-input">
                  <mat-label>Contenido</mat-label>
                  <textarea matInput formControlName="content"></textarea>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Publicar</button>
            <button mat-raised-button (click)="showMessages()">Atrás</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
