<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Publicaciones Ibero</h1>
    </div>
    <div class="col-12">
      <mat-accordion class="example-headers-align" multi *ngFor="let message of messages">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{message.title | uppercase}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-6 text-muted">
                <small> <b>Fecha de publicación:</b> {{message.publishDate |  date:'yyyy/MM/dd h:mm:ss a' }}</small>
              </div>
              <div class="col-12 my-5 text-center">
                {{message.content}}
              </div>
            </div>
          </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
