<div class="container">
  <div class="row">
    <div class="col-12 my-5">
      <h1>Publicaciones</h1>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Titulo </th>
          <td mat-cell *matCellDef="let message"> {{message.title | uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef> Detalle </th>
          <td mat-cell *matCellDef="let message"> {{message.content}} </td>
        </ng-container>

        <ng-container matColumnDef="publishDate">
          <th mat-header-cell *matHeaderCellDef> Fecha de publicación </th>
          <td mat-cell *matCellDef="let message"> {{message.publishDate | date:'yyyy/MM/dd h:mm:ss a'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="col-12 text-right">
      <button mat-fab color="accent" (click)="newMessage()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
